body {
	background-color: #000;
}
#console{
	font-family: courier, monospace;
	color: #fff;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	font-size:14px;
}
#console1, #console2, #console3, #console4{
	font-family: courier, monospace;
	color: #fff;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	font-size:14px;
	display: inline;	
}
a {
	color: #0bc;
	text-decoration: none;
}
a:hover{
	text-shadow: 0.1px 0.1px #0bc;
}
#a {
	color: #0f0;
}
#c {
	color: #0bc;
}
#b {
	color: #ff0096;
}
#d{
	color: #77f;
}
#e{
	font-weight: bold;
	color: #aaa;
	font-size: 120%;
}
#f{
	color: #f91;
	font-weight: bolder;
}
#link{
	float: right;
}